*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

/*ESTILIZAÇÃO DE CORES*/
:root {
  --red: #db2a34;
  --red-secondary: #bb3f3f;
  --black: #16171a;
  --gray: #25292e;
  --title-primary-color: rgb(231 226 226);
}
body * {
  font-family: "Roboto", sans-serif;
}
body {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
}
.container {
  display: flex;
  flex-direction: row;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  background: var(--black);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.card-header h1 {
  font-weight: 900;
  font-size: 24px;
  color: var(--title-primary-color);
}
.card-header-buttons {
  display: flex;
  justify-content: stretch;
  gap: 10px;
  padding: 4px;
}

/*BOTÕES DE POMODORO, DESCANSO E CRONOMETRO*/
.card-header-buttons button {
  padding: 10px 15px; 
  border-radius: 4px;
  font-weight: 700; 
  font-size: 14px;  
  background-color: var(--gray);
  color: var(--title-primary-color);
  cursor: pointer;
  width: 90px; 
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center; 
}

.card-footer button {
  padding: 10px 15px; 
  border-radius: 4px;
  font-weight: 700; 
  font-size: 14px;  
  background-color: var(--gray);
  color: var(--title-primary-color);
  cursor: pointer;
  width: 40px;
  height: 40px; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.card-header-buttons .active {
  background-color: #bd232b;
}

/*PROGRESS BAR*/
.card-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.progress-bar {
  height: 180px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(var(--red-secondary) 360deg, var(--gray) 0deg);
  border-radius: 50%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.progress-bar-inner {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  border-radius: 50%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.progress-bar-inner h2 {
  color: var(--title-primary-color);
  font-weight: 900;
  font-size: 40px;
}

/*BOTÕES DE STOP, PLAY, PAUSE E RESTART*/
.card-footer {
  display: flex;
  justify-content: stretch;
  gap: 20px;
  padding: 10px;
}
.card-footer .btn-sucess {
  background-color: var(--green);
}

.fa, .material-icons {
  font-size: 40px;
}

.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* Media Query para dispositivos móveis */
@media (max-width: 600px) {
  .card {
    padding: 10px;
  }

  .card-header h1 {
    font-size: 18px; /* Ajustar tamanho do título */
  }

  .card-header-buttons button {
    font-size: 10px; /* Ajuste de fonte nos botões */
  }

  .progress-bar-inner h2 {
    font-size: 24px; /* Ajuste de fonte */
  }
}
